<launch>
	<include file="$(find baxter_gazebo)/launch/baxter_world.launch"/>
	<node pkg="agent" type="physical_agent_executor.py" name="physical_agent_node"/>
	<node pkg="environment" type="initialize_environment.py" name="initialize_environment_node"/>
	<node pkg="environment" type="scenario_data.py" name="scenario_data_node"/>
	<node pkg="agent" type="press_button.py" name="press_button_node"/>
	<node pkg="agent" type="obtain_object.py" name="obtain_object_node"/>
	<node pkg="pddl" type="plan_generator.py" name="plan_generator_node"/>
	<node pkg="pddl" type="plan_executor.py" name="plan_executor_node"/>
	<node pkg="action_primitive_variation" type="APV_server.py" name="APV_node"/>
	<node pkg="agent" type="partial_action_executor.py" name="partial_plan_executor_node"/>
	<node pkg="agent" type="brain_A.py" name="agent_brain_A"/>
	<node pkg="agent" type="brain_B.py" name="agent_brain_B"/>
</launch>