<?xml version="1.0"?>

<model>
  <name>Breakable Test</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

<!-- Model Based on Model created by Steve Peters -->
  <author>
    <name>Steve Peters</name>
    <email>scpeters@osrfoundation.org</email>
  </author>
  

  <description>
    Testing breakable wall panels for RAPDR 
  </description>
</model>
