<robot name="button">
  <link name="button">
    <inertial>
      <origin xyz="0.0 0.0 0.0" />
      <mass value="20" />
      <inertia  ixx="0.008" ixy="0.0"  ixz="0.0"  iyy="0.008"  iyz="0.0"  izz="0.008" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.03 0.03 0.03" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.03 0.03 0.03" />
      </geometry>
    </collision>  
  </link>
  <gazebo reference="button">
    <material>Gazebo/Red</material>
  </gazebo>
  
  <gazebo>
    <material>Gazebo/Red</material>
    <static>true</static>
    <gravity>true</gravity>
     <mu1>1000</mu1>
     <mu2>1000</mu2>
  </gazebo>
</robot>
