<!-- <?xml version="1.0"?>
 <robot name="cup">
  <link name="base_link">
    <visual>
     <geometry>
      <cylinder length="0.10" radius="0.03"/>
     </geometry>
     <material name="red">
      <color rgba=".8 .8 .8 1"/>
     </material>
    </visual>
    <collision>
     <geometry>
      <cylinder length="0.10" radius="0.03"/>
     </geometry>
    </collision>
    <inertial>
      <mass value="10"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>
 </robot> -->


 <robot name="cup">
  <link name="base_link">
    <inertial>
      <mass value="1" />
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.05 0.05 0.08" />
      </geometry>
     <material name="red">
      <color rgba=".8 .8 .8 1"/>
     </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.05 0.08" />
      </geometry>
    </collision>
  </link>
</robot>